# Python - Data Structure


     # Theoritical Questions  


1. What are data structures, and why are they important?

  -> Data Structure is a away of organizing and storing data ,so that they can be manage or access in a efficient manner. They help to organize data for easy processing, searching, updating and deletion.

2. Explain the difference between mutable and immutable data types with examples.

   -> Data types are classified into mutable and immutable based on whether their content can be changed after creation. Mutable data types can be modified after the creation of Data. Immutable data types cannot be modified after the data creation. Examples of Mutable data are List,set,dictionary. Examples of Immutable data are Tuple, String,Integer,Boolean,Float.

3. What are the main differences between lists and tuples in Python?

   ->  a.List

      * Mutable in nature.
      * It is defined as square brackets [].
      * It function is slower as it takes more memory.
      * It is not fixed and it is flexible.
        
       b. Tuple

       * Immutable in nature.
       * It is defined as Parentheses().
       * It function is faster as it takes less memory.
       * It is fixed so data cannot be modified.
       * It is used as Dictionary keys.


4.  Describe how dictionaries store data.

   -> A dictionary in Python is a collection of key-value pairs that allows
     to store and retrieve data efficiently. Hashing the Key, Indexing, Storing the Key-Value Pair, ..etc.

     Example : student = {
    "reg. no": 001,

    "name": "Diyya"

    "marks": [85, 80, 91]
}

  Access value:

  print(student["name"])     # Output: Diyya

  Add new key-value:

  student["grade"] = "A"

  Update value:

  student["id"] = 001

  Delete key-value:

  del student["marks"]



5. Why might you use a set instead of a list in Python?

   -> A set automatically removes duplicates, while a list allows them. Use of a set when frequently need to check whether items are present.

    my_list = [10, 20, 20, 30]

    my_set = set(my_list)

    print(my_set)       
    
     Output: {10, 20, 30}


6. What is a string in Python, and how is it different from a list?

   -> A String is a sequence of character that represents and manipulate textual data. Its characters are represented using numerical values. It is enclosed in quotes. String contains only text characters whereas, List contains all the charaters (numbers,texts...etc...). It is immutable in nature.


7. How do tuples ensure data integrity in Python ?

  -> Tuples in Python ensure data integrity mainly through their immutability.Once a tuple is created, its content cannot be changed.


8. What is a hash table, and how does it relate to dictionaries in Python ?

   -> A hash table is a data structure that stores key-value pairs and allows fast data access using a hashing mechanism. It is related to dictionaries of python in fast accessing and hashable in every elements of dictionary (string, integer, tuple).


9. Can lists contain different data types in Python?

   -> Yes, they can store elements of multiple data types within the same
     list.


10. Explain why strings are immutable in Python?

   -> If strings were mutable, their values could change accidentally, causing bugs and security issues, especially when used as dictionary keys. So it is immutable which gives protection for the data.


11. What advantages do dictionaries offer over lists for certain tasks?

   -> Dictionaries offer specific advantages for tasks that involve key-based access and fast lookups. Lists working with a simple sequence of items and the order matters.

12. Describe a scenario where using a tuple would be preferable over a list?

     -> You cannot use a list as a dictionary key, but you can use a tuple because it is a immutable and hashable. Tuple is more protective which its data is unchangeable unlike Lists.

13. How do sets handle duplicate values in Python?

   -> Sets automatically eliminate duplicate values. When you create or update a set, only unique elements are stored and duplicates are ignored. Sets use a hash table to track values. If a value with the same hash already exists, Python won’t add it again.

14. How does the “in” keyword work differently for lists and dictionaries?

   -> The "in" keyword is used in Python to check for membership but how it behaves depends on the data structure use. When used with a list, in checks whether a value exists in the list. When used with a dictionary, in checks for the presence of a key, not a value.

15. Can you modify the elements of a tuple? Explain why or why not?

   -> No, we cannot modify the elements of a tuple because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case.

   -> A Nested Dictionary is a dictionary of dictionaries.


17. Describe the time complexity of accessing elements in a dictionary?

   -> In Python, accessing elements in a dictionary by key is extremely fast due to its underlying implementation using a hash table. This means that accessing a value by its key takes constant time, no matter how many items are in the dictionary.

18. In what situations are lists preferred over dictionaries?

   -> Lists maintain the order of elements, which is useful when Sequence or position is important. Lists can store duplicates unlike dictionaries.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

   -> Dictionaries are mainly focuses on key-based lookups, not ordering. They are preserved insertion keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
   
   -> Lists and Dictionaries store data but they retrive data in different ways. In List, data are retrived by using numeric index and Dictionaries, data are retrived by using keys like hashs. keys must be unique.

In [ ]:
# Practical Questions

1. Write a code to create a string with your name and print it.

In [ ]:
name = "Diyya Jacob"
print ("My name is:", name)

My name is: Diyya Jacob

2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello world"
length = len(text)

print("length of the string:", length)

length of the string: 11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "python programming"

# slice the first 3 characters
slice =text [:3]

print("first 3 characters are:",slice)

first 3 characters are: pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
uppercase_text = text.upper()

print("upper_case text the word: ",uppercase_text)

upper_case text the word:  HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
# Original String
text = "apple"

# Replace "apple" with "orange" in the string "I like apple"
new_text = text.replace("apple","orange")

print("original string:",text)
print("replace string:",new_text)

original string: apple
replace string: orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1,2,3,4,5]

print(numbers)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1,2,3,4]
my_list.append(10)

print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list =[1,2,3,4,5]
remove = my_list.remove(3)

print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
my_list = ["a","b","c","d"]
second_element = my_list[1]

print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10,20,30,40,50]
reverse = my_list.reverse()

print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100,200,300)
elements = my_tuple

print(elements)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ("red","green","blue","yellow")
second_to_last = my_tuple[-2]

print("second-to-last element:",second_to_last)

second-to-last element: blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
my_tuple = (10,20,5,15)
minimum = min(my_tuple)

print("minimum number:",minimum)

minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple = ("dog","cat","rabbit")
cat = my_tuple.index("cat")

print("index of cat:",cat)

index of cat: 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
my_tuple = ("grapes","orange","pineapple")
kiwi_in_tuple = "kiwi"in my_tuple

print("kiwi is in the tuple:",kiwi_in_tuple)

kiwi is in the tuple: False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a','b','c'}
elements = my_set

print(elements)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()

print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1,2,3,4}
my_set.remove(4)

print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
union = my_set1.union(my_set2)

print(union)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
my_set1 = {1,2,3}
my_set2 = {2,3,4}
intersection = my_set1.intersection(my_set2)

print(intersection)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict_ = {"name":"Diyya","age":"23","city":"kochi"}

print(dict_)

{'name': 'Diyya', 'age': '23', 'city': 'kochi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dict_= {'name': 'John', 'age': 25}

# Add new key-value pair
dict_['country'] = 'USA'

print(dict_)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dict_= {'name': 'Alice', 'age': 30}
name_value = dict_['name']

print("Name:", name_value)

Name: Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict_= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict_.pop('age')


print(dict_)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [2]:
dict_ = {'name': 'Alice', 'city': 'Paris'}
city_exists = dict_["city"]

print("City exists in dictionary:", city_exists)

City exists in dictionary: Paris

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [4]:
my_list = [10,20,30,40,50]
my_tuple = ("graphs","orange","pineapple")
my_dict = {"name":"Diyya","age":"23","city":"kochi"}

print("List:",my_list)
print("Tuple:",my_tuple)
print("Dictionary:",my_dict)

List: [10, 20, 30, 40, 50]
Tuple: ('graphs', 'orange', 'pineapple')
Dictionary: {'name': 'Diyya', 'age': '23', 'city': 'kochi'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [8]:
my_list = [20,40,54,65,19]
my_list.sort()

print("sorted random numbers in ascending order:",my_list)

sorted random numbers in ascending order: [19, 20, 40, 54, 65]

28. Write a code to create a list with strings and print the element at the third index.

In [11]:
my_list = [1,2,3,4,5]
third_element = my_list[2]

print("Third element:",third_element)

Third element: 3

29. Write a code to combine two dictionaries into one and print the result.

In [12]:
dict1 = {'name': 'Diyya', 'age': 23}
dict2 = {'city': 'Kochi', 'country': 'India'}

combined_dict = dict1.copy()
combined_dict.update(dict2)

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Diyya', 'age': 23, 'city': 'Kochi', 'country': 'India'}

30. Write a code to convert a list of strings into a set.

In [13]:
my_list = [20,30,40,50,60]
my_set =set(my_list)

print("set of list:",my_set)

set of list: {40, 50, 20, 60, 30}